<div class="row mt-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapselogview">
                    Aparoid Log
                </a>
            </div>
            <div id="collapselogview" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <td>DateTime</td>
                            <td>Action</td>
                            <td>Text</td>
                            </thead>
                            <tbody id="log-data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>