.light-theme .sidebar-wrapper {
  background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #f9f9f9; }
    .light-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item),
  .light-theme .sidebar-wrapper .sidebar-header,
  .light-theme .sidebar-wrapper .sidebar-search input,
  .light-theme .sidebar-wrapper .sidebar-search i {
    color: #444; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .light-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #424242;
    -webkit-box-shadow: 0 3px 15px rgba(36, 37, 38, 0.08);
    box-shadow: 0 3px 15px rgba(36, 37, 38, 0.08);
    background: #fff; }
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .light-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .light-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .light-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #00a9fd; }
  .light-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .light-theme .sidebar-wrapper .sidebar-footer {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px -1px 5px #ececec;
    box-shadow: 0px -1px 5px #ececec;
    border-top: 1px solid #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.light-theme.toggled #close-sidebar {
  color: #444; }

.light-theme.toggled #close-sidebar:hover {
  color: #424242; }

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #A4A29E;
  border-radius: 0; }

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.light-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(255, 255, 255, 0.9); }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #5e5e5e; }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #5c5c5c; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: white; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  border-top: 1px solid white; }


  .sidebar-wrapper {
  width: 280px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 999;
  -webkit-transition: left .3s ease, width .3s ease;
  transition: left .3s ease, width .3s ease; }
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .sidebar-wrapper a {
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease; }
  .sidebar-wrapper .sidebar-item {
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
  .sidebar-wrapper .sidebar-content {
    max-height: calc(100% -35px);
    height: calc(100% - 35px);
    overflow-y: scroll;
    position: relative; }
    .sidebar-wrapper .sidebar-content.desktop {
      overflow-y: hidden; }
  .sidebar-wrapper .badge {
    border-radius: 4px; }

.sidebar-bg .sidebar-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .sidebar-bg .sidebar-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.sidebar-wrapper .sidebar-brand {
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  background-color: #007AFC; }

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden; }
  .sidebar-wrapper .sidebar-header .user-pic {
    width: 60px;
    padding: 2px;
    margin-right: 15px;
    overflow: hidden; }
    .sidebar-wrapper .sidebar-header .user-pic img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .sidebar-wrapper .sidebar-header .user-info {
    overflow: hidden; }
    .sidebar-wrapper .sidebar-header .user-info > span {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .sidebar-wrapper .sidebar-header .user-info .user-role {
      font-size: 12px; }
    .sidebar-wrapper .sidebar-header .user-info .user-status {
      font-size: 11px;
      margin-top: 4px; }
      .sidebar-wrapper .sidebar-header .user-info .user-status i {
        font-size: 8px;
        margin-right: 4px;
        color: #5cb85c; }

.sidebar-wrapper .sidebar-search > div {
  padding: 1rem 1.2rem; }

.sidebar-wrapper .sidebar-search input {
  border-radius: 0; }

.sidebar-wrapper .sidebar-search .input-group {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
  border-radius: 0;
  border-left: 0; }

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px; }
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block; }
  .sidebar-wrapper .sidebar-menu ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
    width: 95%;
    margin: auto;
    border-radius: 4px; }
    .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
      display: inline-block;
      -webkit-animation: swing ease-in-out .5s 1 alternate;
      animation: swing ease-in-out .5s 1 alternate; }
    .sidebar-wrapper .sidebar-menu ul li a i {
      margin-right: 10px;
      font-size: 12px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .sidebar-wrapper .sidebar-menu ul li a .menu-text {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      /* white-space: nowrap; */
      text-overflow: ellipsis;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      overflow: hidden; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
    display: none; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
      padding: 5px 0; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
      padding-left: 25px;
      font-size: 13px; }
      .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
        overflow: hidden;
        text-overflow: ellipsis; }
        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
          content: "\f15c";
          font-family: "Font Awesome 6 Free";
          font-weight: 400;
          font-style: normal;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 10px;
          font-size: 8px; }
        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
          margin-left: auto; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px; }

body {
  font-size: 1.05rem; }

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh; }
  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
    background-size: cover; }
  .page-wrapper .theme.selected {
    border: 2px solid #00c7ff; }
  .page-wrapper .theme.default-theme {
    background: #1d1d1d; }
  .page-wrapper .theme.chiller-theme {
    background: #374140; }
  .page-wrapper .theme.legacy-theme {
    background: #2e333c; }
  .page-wrapper .theme.ice-theme {
    background: #3a4d56; }
  .page-wrapper .theme.cool-theme {
    background: #46454c; }
  .page-wrapper .theme.light-theme {
    background: #ececec; }
  .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
    overflow-x: hidden; }
    .page-wrapper .page-content .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none; }
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px; }
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 280px; } }
  @media screen and (max-width: 768px) {
    .page-wrapper.toggled .page-content .overlay {
      display: block; } }
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
      padding-left: 80px; } }
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 80px; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
      padding: 10px; }
      .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
        margin: 0 auto;
        width: 50px;
        float: none; }
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
          margin: auto; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search input,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a > span,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a::after,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div:not(.pinned-footer) {
      display: none !important; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search .input-group-text {
      height: 35px; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div.pinned-footer {
      display: block; }
  .page-wrapper .mCSB_scrollTools {
    width: 6px; }
  .page-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 0px; }

/*---- border-radius ------*/
.boder-radius-on .sidebar-header .user-pic {
  border-radius: 12px; }

.boder-radius-on .badge {
  border-radius: 8px; }

.boder-radius-on .sidebar-menu ul li i {
  border-radius: 4px; }

.boder-radius-on .sidebar-footer .dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .boder-radius-on .sidebar-footer .dropdown-menu .notification-content i,
  .boder-radius-on .sidebar-footer .dropdown-menu .message-content .pic {
    border-radius: 4px; }

.boder-radius-on .sidebar-search input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.boder-radius-on .sidebar-search .input-group-append .input-group-text {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.375rem;
  background: transparent; }

.breadcrumb-item {
  text-transform: capitalize;
  font-weight: 400; }
  .breadcrumb-item a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000; }
    @media (prefers-reduced-motion: reduce) {
      .breadcrumb-item a {
        -webkit-transition: none;
        transition: none; } }

.sb-lead {
  font-size: 1.5rem;
  font-weight: 300; }
  @media (min-width: 992px) {
    .sb-lead {
      max-width: 80%; } }

.alert {
  padding: 1.3rem !important;
  margin-bottom: 2rem; }